.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form {
    background-color: white;
    position: relative;
    box-shadow: 1.5px 1.2px 20px rgba(0, 0, 0, 0.009),
      2.3px 1.9px 20px rgba(0, 0, 0, 0.023),
      2.9px 2.3px 20px rgba(0, 0, 0, 0.047), 5px 4px 20px rgba(0, 0, 0, 0.11);
    top: -10vh;
    max-width: 700px;
    width: 30%;
    border: 1px solid rgb(233, 233, 233);
    border-left: 50px solid #3b3c81;

    border-radius: 5px;
    .btnGroup {
      display: flex;
      .btn:first-of-type {
        flex: 1;
        margin-right: 10px;
      }
    }
    .forget {
      color: gray;
      cursor: pointer;
      text-align: right;
      user-select: none;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

:global {
  .ant-form-item-label label {
    font-weight: bold;
  }

  @media screen and (max-width: 1440px) {
    .ant-layout-header {
      height: 42px !important;
    }
  }
}
