.page{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7e4ff31;
    .form{
        background-color: white;
        position: relative;
        box-shadow:
            1.5px 1.2px 20px rgba(0, 0, 0, 0.009),
            2.3px 1.9px 20px rgba(0, 0, 0, 0.023),
            2.9px 2.3px 20px rgba(0, 0, 0, 0.047),
            5px 4px 20px rgba(0, 0, 0, 0.11);
        top: -10vh;
        width: 700px;
        padding: 50px 150px;
        border: 1px solid rgb(233, 233, 233);
        border-left: 50px solid #654f6e;
        border-radius: 5px;
        .btnGroup{
            display: flex;
            .btn:first-of-type{
                flex: 1;
                margin-right: 10px;
            }
            :global{
                .ant-btn-primary{
                    background-color: #673281;
                }
            }
        }
        .forget{
            color: gray;
            cursor: pointer;
            text-align: right;
            user-select: none;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    :global{
        .ant-form-item-label label{
            font-weight: bold;
        }
    }
}