.header {
  --backgroundColor: #3b3c81;
  --primaryColor: #6a4a9e;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    var(--backgroundColor),
    var(--primaryColor)
  );
  .left {
    display: flex;
    align-items: center;
    .logo {
      width: 30px;
      height: 30px;
    }
    .name {
      color: white;
      margin-left: 2rem;
      font-weight: bold;
    }
  }

  .right {
    display: flex;
    align-items: center;
    .btn {
      margin-left: 10px;
    }
  }
}

:global {
  --backgroundColor: #47499c;
  --primaryColor: #7954b3;
  .ant-layout-sider-trigger {
    background-color: var(--backgroundColor);
  }
  .ant-layout-content {
    padding: 0 !important;
    overflow: initial !important;
    // overflow: hidden !important;
  }
  // .#root > div > section > section {
  //   overflow-y: scroll !important;
  // }
  .ant-layout .ant-layout .ant-layout {
    overflow-y: scroll !important;
    overflow-x: visible;
  }
  .ant-layout-sider-trigger {
    background-color: #47499c !important;
  }
}
